<!DOCTYPE HTML>
<html>
<head>  
<script>


/*
    let xmlhttp = new XMLHttpRequest();
    function log(msg) {
        console.log(msg);
    }
    function reqListener () {
        log('our js register');
    }

    function updateProgress (oEvent) {
        log('inside progress');
        log(oEvent);
        log(oEvent.currentTarget.responseText.length);
        if (oEvent.lengthComputable) {
            let percentComplete = (oEvent.loaded / oEvent.total) * 100;
            document.getElementById('progress').innerText = percentComplete + ' %'
          } else {
            // Unable to compute progress information since the total size is unknown
        }
        let p = document.createElement('p');
        text = document.createTextNode(oEvent.target.responseText);        
        p.appendChild(text);        
        document.getElementById('data').appendChild(p);
    }
    url = '{% url "test_stream" %}';

    xmlhttp.addEventListener('load', reqListener);
    //xmlhttp.addEventListener('progress', updateProgress, false);
    xmlhttp.open("get", url, true);
    
    xmlhttp.send();

*/





window.onload = function () {
	var dataPoints = [{y : 10}, {y : 13}, {y : 18}, {y : 20}, {y : 17}];
	var dataPoints2 = [{y : 7}, {y : 20}, {y : 10}, {y : 5}, {y : 19}];
	var dataPoints3 = [{y : 15}, {y : 10}, {y : 13}, {y : 10}, {y : 5}];

	var chart = new CanvasJS.Chart("chartContainer", {
	theme:"light2",
	animationEnabled: true,
	title:{
		text: "Analyse de vitesse"
	},
	axisY :{
		title: "valeurs",
		suffix: "m/s"
	},
	toolTip: {
		shared: "true"
	},
	legend:{
		cursor:"pointer",
		itemclick : toggleDataSeries
	},
	data: [{
		type: "spline",
		
		showInLegend: true,
		yValueFormatString: "##.00m/s",
		name: "VX",
		dataPoints: dataPoints 
					
	},
	{
		type: "spline", 
		showInLegend: true,
		
		yValueFormatString: "##.00m/s",
		name: "VY",
		dataPoints: dataPoints2 
	},
	{
		type: "spline",		
		showInLegend: true,
		yValueFormatString: "##.00m/s",
		name: "V",
		dataPoints: dataPoints3
	}]
});
chart.render();

var yVal = 15;
var yVal2 = 18;
var yVal3 = 10;

	var updateChart = function (xmlhttp) {

		yVal = yVal + Math.round(5 + Math.random() * (-5 - 5));
		yVal2 = yVal2 + Math.round(5 + Math.random() * (-5 - 5));
		yVal3 = yVal3 + Math.round(5 + Math.random() * (-5 - 5));      	
		
		dataPoints.push({
			y : yVal
		});
		dataPoints2.push({
			y : yVal2
		});
		dataPoints3.push({
			y : yVal3
		});

      	
        
		chart.render();    
		
	};
	setInterval(function(){updateChart()}, 1000);

function toggleDataSeries(e) {
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
		e.dataSeries.visible = false;
	} else {
		e.dataSeries.visible = true;
	}
	chart.render();
}

url = '{% url "test_stream" %}';
let xmlhttp = new XMLHttpRequest();
xmlhttp.open("get", url, true);
xmlhttp.send();


function handleEvent(e) {
	
	console.log(e.target.responseText);
	
}

xmlhttp.addEventListener('progress',handleEvent);

}


    </script>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <h1>Streaming</h1>

    <p>We are going to be pulling data from {% url "test_stream" %} until finished</p>
    
    <div id="progress"></div>
    <div id="data"></div>
    
</body>
</html>
